.box1 header h1 {
    font-size: 40px;
    padding: 30px;
    }
.box1 {
    background-color: white;
    color: black;
    padding: 25px 150px 30px 150px;
    margin: 90px;
}
.box2 {
    background-color: #eee;
    color: black;
    position: fixed;
    margin-left: 120px;
    padding: 80px 80px 80px 80px;
}
.box3 {
    background-color: #eee;
    color: black;
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 80px 80px 80px 80px;
    text-align: center;
}
.box4 {
    background-color: #999;
    color: black;
    position: absolute;
    padding: 40px 40px 40px 40px;
    text-align: center;
    margin-top: -490px;
    margin-left: 550px;
}
