body {
  margin: 0;
  line-height: 1.5;
  text-transform: uppercase;
  background-color: #7cbbc4;
  font-family: Arial, Helvetica, sans-serif;
}
h5 {
  color: white;
  font-weight: bold;
}
h4 {
  margin-top:200px;
  text-align: center;
  font-size: 13px;
}
h1 {
  color: white;
  text-align: center;
  font-size: 70px;
  font-weight: bold;
}
p {
  text-align: center;
  color: white;
  margin-left: auto;
  margin-right: auto;
}
#border {
  border-color: white;
  border-style: solid;
  border-width: 2px;
  width: 180px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
}
.divider {
  width: 300px;
  height: 200px;
  top: 50%;
  left: 50%;
  margin-left: auto;
  margin-right: auto;
}