html{
    background-color: pink;
}
header h1{
    background-color: rgb(219, 217, 217);
    font-size: 24px;
    color: white;
    text-align: center;
}


#output{
    border: 6px solid rgb(219, 217, 217);
    margin: auto;
    width: 80%;
    text-align: center;
}
